z3-solver==4.8.10.0
numpy @ file:///opt/concourse/worker/volumes/live/a1b5ea96-b05c-40ba-5dfb-4542ece1c186/volume/numpy_and_numpy_base_1603491228242/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
